body{
    background-color: antiquewhite;
}

img {
    display: block;
    border: 8px solid black;
}

h1{
    border: 8px solid black;
    font-size: 40px;
    text-align: center;
    background-color: bisque;
    margin: 0 auto;
}

ol,ul{
border: 4px solid black;
}